<div class="bg">
    <section class="login-wrapper">
        <button class="login-link-btn">
            <a href="/login"><span>Al een account?</span> Klik hier om aan te melden</a>
        </button>
       
        <!-- LOGIN FORMULIER -->
        <div class="form-wrapper">
            <form action="">
                <div class="input-wrapper">
                    <label for="profielnaam" >Uw profielnaam</label> 
                    <input type="text" id="profielnaam" name="" placeholder="Profielnaam" required>
                </div>
        
                <div class="input-wrapper">
                    <label for="profielnaam" >E-mailadres</label> 
                    <input type="email" id="email" name="" placeholder="voorbeeld@email.com" required>
                </div>
        
                <div class="input-wrapper">
                    <label for="wachtwoord" >Wachtwoord</label> 
                    <div class="pw-wrapper">
                        <input src="img/eye-o.svg" type="password" id="wachtwoord" name="" placeholder="Geef wachtwoord in" required>
                        <!-- <img src="img/eye-o.svg" id="show-pw" title="toon paswoord" onClick="togglePW()"> -->
                    </div>
                </div>
        
        
                <!-- <div class="login-details-wrapper">
                    <div class="logged-state-wrapper">
                        <input type="checkbox" id="save-login">
                        <label for="save-login">Ingelogd blijven</label>
                    </div>
            
                    <a href="#">Wachtwoord vergeten?</a>
                </div> -->
        
                <button type="submit" class="form-submit-btn">Registreer</button>
        
            </form> 
        </div>

    </section>
</div><!-- div bg-->


