.bg {
    background-image: url("/assets/couple3-edit.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* height: 900px; */
}
