/* You can add global styles to this file, and also import other style files */
body {
  margin-top: 300px;
  background-image: url('/assets/couple7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
