/*SIDE-NAVBAR*/

.side-navbar {
  /* position: relative;
  top: 0;
  left: 0;
  height: 100%; */
  padding: 6px 14px;
}

.side-navbar .logo-content {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-content span {
  font-weight: 700;
  font-size: 20px;
}

ul {
  margin-top: 20px;
}

li {
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
}

a {
  color: var(--white);
  display: flex;
  align-items: center;
  text-decoration: none;
}
a:hover {
  opacity: 0.65;
}

svg {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

svg path {
  fill: var(--white);
}

svg {
  height: 25px;
}

/*GRID DASHBOARD*/

.dashboard-grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 100px 1fr 150px;
  grid-template-areas:
    'side-navbar dashboard-header'
    'side-navbar main'
    'side-navbar footer';
  height: 100vh;
  background-color: var(--black);
}

.dashboard-header {
  grid-area: dashboard-header;
  background-color: var(--black);
}

.side-navbar {
  grid-area: side-navbar;
  background-color: var(--black);
}

.main {
  grid-area: main;
  background-color: var(--white);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.footer {
  grid-area: footer;
  background-color: var(--black);
}
