/*ALGEMEEN*/

/*SIDE-NAVBAR*/

.side-navbar ul {
  align-self: center; /*geeft ander effect als het uitgezet is*/
  margin-top: 50%;
}

.logo-content a {
  display: flex;
  flex-direction: column;
}

.logo-content a:hover, .welcome-back a:hover {
  background: none;
}

.logo-content span {
  font-weight: 700;
  font-size: 20px;
  margin-top: -35px;
}

ul {
  margin-top: 20px;
}

li {
  position: relative;
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
}

a {
  color: var(--white);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4 ease;
}

a:hover {
  background-color: var(--prim);
  border-radius: 5px;
}

.active {
  background-color: var(--prim);
  border-radius: 5px;
}

svg {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

svg path {
  fill: var(--white);
}

svg {
  height: 25px;
}

.welcome-back a {
  position: absolute;
  color: var(--white);
  bottom: 0;
  left: 0;
  width: 240px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.welcome-back div {
  display: flex;
  flex-direction: column;
}

.welcome-back div span:last-child {
  font-size: 20px;
  inline-size: 150px;
  /*om lange namen naar volgende lijn te overbrengen: */
  overflow-wrap: break-word;
  hyphens:auto;
}

.welcome-back img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 12px;
}



/*DASHBOARD HEADER*/

.dashboard-header ul {
  position: relative;
  display: flex;
  width: 95%;
  padding: 5px 2.5rem 5px 50%;
  /* margin-right: 2%; */
}

.dashboard-header li {
  position: relative;
  text-transform: uppercase;
}

.dashboard-header li a{
  position: relative;
}

.dashboard-header li span {
  margin: auto;
}

/*GRID DASHBOARD*/

.dashboard-grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'side-navbar dashboard-header'
    'side-navbar main';
  height: 100vh;
  background-color: var(--black);
}

.dashboard-header {
  grid-area: dashboard-header;
  background-color: var(--black);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100000;
  width: 87.5%;
  height: 100px;
}

.side-navbar {
  grid-area: side-navbar;
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  height: 100%;
  padding: 6px 14px;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.main {
  grid-area: main;
  background-color: var(--white);
  border-top-left-radius: 30px;
  /* border-bottom-left-radius: 30px; */
}

/* .footer {
  grid-area: footer;
  background-color: var(--black);
} */
