* {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
}

html {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Font-weights
    Medium 500
    Semi-bold 600
    Bold 700
*/

/* REMOVE DEFAULT FORM STYLING */
textarea,
input {
    outline: none;
}

button,
input,
optgroup,
select,
textarea,
html input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type="checkbox"],
input[type="radio"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* COLOR VARIABLES */

:root {
    --prim: #5E54A4;
    --prim-light: #B9B4D7;
    --baseline: #87879D;
    --sec: #4D96A9;
    --sec-light: #8EC4CF;
    --error: #FF7979;
    --success: #38CC8B;
    --gray: #979797;
    --light-gray: #CECCCC;
    --black: #3D3B48;
    --white: #FAFAFA;
}

::selection {
    background: var(--prim);
    color: var(--white);
}

a {
    text-decoration: none;
}

/* BUTTON STYLING */

.register-wrapper button,
/* .login-wrapper button, */
.form-wrapper button {
    width: 100%;
    text-align: center;
    color: #FAFAFA;
    border-radius: 5px;
    padding: 17.5px 0;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
}

.register-wrapper button:hover,
/* .login-wrapper button:hover, */
.form-wrapper button:hover {
    opacity: 0.65;
}

.link-btn {
    color: var(--white);
    background-color: var(--sec);
    display: inline;
    padding: 17.5px 0px;
    height: 50px;
    border-radius: 5px;
    align-self: flex-end;
    margin-bottom: 6.3rem;
    width: calc(540px - 36px);
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    /* width: 50%; */
}

.link-btn:hover {
    color: var(--sec-light) !important;
    /* opacity: 1!important; */
}

.link-btn a {
    color: var(--white);
    letter-spacing: 0.05rem;
    font-weight: 300;
}

.link-btn span {
    font-weight: 500;
    height: max-content;
}

/* END OF BUTTON STYLING */


/* LANDINGSPAGE LAYOUT */

.login-wrapper {
    display: flex;
    max-width: 1200px;
    margin-left: 50vw;
    margin-top: 6rem;
    justify-content: center;
    flex-direction: column;
    /* height: 0%; */
    padding-bottom: 2rem;
}

.register-section-wrapper {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    flex-direction: row-reverse;
    height: 0%;
    padding-bottom: 2rem;
}

/* .login-form-wrapper{
    margin-left: 50%;
} */

.login-wrapper .link-btn {
    margin-bottom: 1rem;
    align-self: center;
    width: 540px;
    ;
}


/* FORM STYLING */
form {
    margin: 25px 0;
    padding: 25px;
}

.form-wrapper {
    width: 540px;
    font-size: 16px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: var(--white);

}

.form-wrapper input {
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 20px 30px;
    /* font-size: 16px; */
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    font-family: 'Poppins';
    caret-color: var(--prim);
}

.form-wrapper input:focus {
    border: 1px solid var(--prim);
}


/* INVALID STATE STYLING  */

.input-wrapper[data-error] input {
    border: 2px solid var(--error);
    /* border-color: var(--error); */
    color: var(--error);
}

.input-wrapper[data-error]::after {
    content: attr(data-error);
    color: var(--error);
    text-align: right;
    font-size: 0.8rem;
}

/* END OF INVALID STATE STYLING */

input[type="password"]::placeholder {
    font-size: 1rem;
}

input[type="password"] {
    font-size: 1.5rem;
    padding: 13px 30px;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 10px;
    margin-right: 5px;
}

.form-wrapper label {
    font-weight: 600;
    color: var(--black);
    letter-spacing: 0.05rem;
    padding-bottom: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.pw-wrapper {
    display: flex;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    margin-bottom: 0.6rem;
    height: 65px;
}

.pw-wrapper:focus-within {
    border: 1px solid var(--prim);
}

.pw-wrapper input {
    border: none;
    margin: 0;
}

.pw-wrapper input:focus {
    border: none;
}

.pw-wrapper img {
    height: 20px;
    align-self: center;
    padding-right: 10px;
}


/* Form validation styling */

#validation-list {
    display: flex;
    margin: 0 5px;
    ;
    padding: 0;
    justify-content: flex-end;
}

#validation-list li {
    font-size: 0.8rem;
    color: var(--gray);
    list-style-type: none;
    margin-left: 1rem;
    align-self: center;
}


/* LOGIN FORM */

.login-details-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
}

.logged-state-wrapper {
    display: flex;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.logged-state-wrapper label:hover {
    cursor: pointer;
}

.logged-state-wrapper input {
    margin: 0;
}

.login-details-wrapper label {
    padding: 0;
    margin-left: 0.5rem;
}

.login-details-wrapper a {
    font-weight: 200;
    color: var(--prim);
    text-decoration: underline;
    margin-top: 1.25rem;
}

.login-details-wrapper a:hover {
    opacity: 0.65;
}

.form-submit-btn {
    text-transform: uppercase;
    background-color: var(--prim);
    letter-spacing: 0.1rem;
    font-weight: 600;
}

/* Custom Checkbox Styling */

.checkbox {
    -webkit-appearance: none;
    width: 25px !important;
    height: 25px !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 3px !important;
}

.checkbox:active,
.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
    background-color: var(--prim);
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.checkbox:checked:after {
    content: '\2714';
    color: var(--white);
}

/* END OF LOGIN FORM */

/* REGISTRATION FORM */

/* Geslacht input styling */

.gender-flex {
    display: flex;
    margin: 1.25rem 0;
}

.gender-wrapper {
    width: 50%;
}

.gender-wrapper div {
    display: flex;
    align-items: center;
}

.gender-wrapper label:first-of-type {
    margin-right: 1.25rem;
}

input[type="radio"] {
    width: auto;
}

/* Radio button custom styling */

.radio-item {
    position: relative;
    display: flex;
}

.radio-item-two img {
    height: 29px;
}

.radio-item input[type="radio"] {
    display: none;
}

.radio-item label:before {
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 1px solid var(--light-gray);
    background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
    content: '';
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 11px;
    left: 5px;
    display: block;
    background: var(--prim);
}

.radio-item-two input[type=radio]:checked+label:after {
    top: 14px;
}

.consent-text,
.consent-text a {
    font-size: 0.8rem;
}

.consent-text {
    color: var(--gray);
    text-align: center;
    margin-top: 1.25rem;
}

.consent-text a {
    text-decoration: underline;
    transition: 0.2s ease;
}

.consent-text a:hover {
    opacity: 0.65;
}

/* REGISTER SUCCES POPUP */

.popup-container {
    width: 540px;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--prim);
    padding: 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.popup-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-content: center;  */
    align-items: center;
}

.popup-wrapper img {
    width: 35%;
}

.success-mark {
    margin: 2.5rem 0;
}

.popup-wrapper h3 {
    font-size: 1.8rem;
    /* font-weight: 500; */
    font-weight: 600;
    letter-spacing: 0.02em;
    width: 50%;
    border-bottom: 1.5px solid var(--prim-light);
    padding-bottom: 1.25rem;
    margin-bottom: 0;
}

.popup-wrapper button {
    font-weight: 600;
}

.popup-wrapper .link-btn:hover {
    background-color: var(--sec-light);
    opacity: 1;
}

.popup-wrapper button,
.popup-wrapper h3 {
    text-transform: uppercase;
}

.popup-wrapper p {
    /* font-weight: 600; */
    padding: 0 1.25rem;
    margin: 1.8rem 0;
}

.popup-wrapper p:last-of-type {
    margin-bottom: 0;
}

.popup-wrapper p span {
    font-weight: 600;
    letter-spacing: 0.04rem;
    padding-right: 5px;
}

.popup-wrapper a {
    color: var(--white);
    text-decoration: underline;
    transition: 0.2s ease;
    letter-spacing: 0.04rem;
}

.popup-wrapper a:hover {
    color: var(--prim-light);
}

.close-window {
    position: absolute;
    top: 15px;
    right: 15px;
}

.close-window img {
    width: 30px;
}

.close-window:hover {
    cursor: pointer;
}

/* USER GRID SECTION */

/* main{
    max-width: 80%;
} */

.user-profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1.25rem;
}

/* CARDS STYLING */

.card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-size: cover;
    padding: 22.5rem 0 0;
    /* min-height: 350px; */
    position: relative;
    min-width: 250px;
    overflow: hidden;

    transition: transform 0.35s ease;
}

.card:hover {
    /* cursor: pointer; */
    transform: scale(1.015);
}

.card-content,
.card-content div {
    display: flex;
}

.card-content {
    justify-content: space-between;
    padding: 1.25rem;
    background: linear-gradient(hsl(0 0% 0% / 0),
            hsl(50 0% 0% / 0.3),
            hsl(0 0% 0% / 1));
    flex-direction: column;
    /* align-items: flex-start; */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* border-radius: 10px; */
    transform: translateY(39%);
    transition: transform 0.35s ease;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card-content h3,
.card-content span {
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
    color: #FAFAFA;
}

.card-content span {
    padding-right: 10px;
}

.card-content span {
    padding-left: 5px;
}

.card-content button {
    text-transform: uppercase;
}

.card-content button a {
    color: #FAFAFA;
}

.card-content,
.btn-container,
.user-details,
.user-details-container {
    display: flex;
}

.user-details-container img {
    width: 20px;
}

.locatie {
    color: var(--white)
}

.locatie p {
    padding-bottom: 5px;
}

.locatie img {
    padding-right: 7.5px;
    height: 20px;
}

.profile-btn,
.chat-btn {
    padding: 7.5px 12.5px;
    border-radius: 7.5px;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    transition: 0.3s ease;
}

.profile-btn:hover,
.chat-btn:hover {
    cursor: pointer;
}

.profile-btn:hover {
    background-color: var(--sec-light);
}

.profile-btn {
    background-color: var(--sec);
    margin: 1rem 1rem 0 0;
}

.chat-btn {
    background-color: var(--white);
    margin: 1rem 1rem 0 0;
}

/* .chat-btn:hover{
    background-color: var(--light-gray);
} */


.chat-btn img {
    width: 20px;
    padding-top: 5px;
}

.user-photo {
    width: 100%;
}


/* VALIDATION ERRORS */

.error-small {
    color: var(--error);
    font-size: 1rem;
    text-align: right;
    font-style: italic;
    letter-spacing: 0.05rem;
    font-weight: 500;
    margin-top: -15px;
}

/* .error{
    border: 1px solid var(--error);
} */

/* .ng-invalid .input-wrapper input{
    border: 2px solid var(--error)!important;
    color: var(--error);
}  */

input.ng-invalid.ng-touched:not(.ww-input) {
    border: 2px solid var(--error);
    color: var(--error);
}

/* input.ng-invalid.ng-touched {
    border: 2px solid var(--error)!important;
    color: var(--error)!important;
} */

.ww-input.ng-invalid.ng-touched {
    border: none;
    color: var(--error);
}

input.ng-valid.ng-touched:focus:not(.ww-input) {
    border: 1px solid var(--prim);
}

/* .ww-input.ng-invalid.ng-touched:focus-within {
    border: 1px solid var(--error);
} */

.error-label {
    color: var(--error)!important;
}

.error-border {
    border: 2px solid var(--error);
}

/* PASSWORD VALIDATION */

.pw-validation {
    /* color: var(--gray); */
    display: flex;
    justify-content: flex-end;
}

.pw-validation ul {
    display: flex;
    margin-bottom: 1rem;
}

.pw-validation li:not(first-of-type) {
    list-style-type: none;
    margin-left: 15px;
}

.validation-wrapper:not(last-of-type){
    display:flex;
    width: 115px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.validation-wrapper{
    display: flex;
    flex-wrap: nowrap;
}

.validation-wrapper img{
    padding-right: 5px;
    height: 12px;
    align-self: center;
}
