<div class="bg">
    <app-landing-header></app-landing-header>

    <section class="register-section-wrapper">
        <button class="link-btn">
            <a routerLink="/login"><span>Al ingeschreven?</span> Klik hier om aan te melden</a>
        </button>

        <!-- LOGIN FORMULIER -->
        <div class="form-wrapper register-wrapper">
            <form [formGroup]="registerForm" (submit)="onSubmit()" autocomplete="off">
                <div class="input-wrapper">

                    <div class="label-wrapper">
                        <label
                            class="{{ registerForm.controls.profielnaam.invalid && registerForm.controls.profielnaam.touched  ? 'error-label' : null }}"
                            for="profielnaam">Uw profielnaam
                        </label>

                        <small *ngIf="registerForm.controls.profielnaam.invalid && registerForm.controls.profielnaam.touched"
                            class="error-small">Geen geldige profielnaam
                        </small>
                    </div>

                    <input type="text" formControlName="profielnaam" placeholder="Geef profielnaam in">

                </div>

                <div class="input-wrapper">
                    <div class="label-wrapper">
                        <label
                            class="{{ registerForm.controls.email.invalid && registerForm.controls.email.touched  ? 'error-label' : null }}"
                            for="email">E-mailadres
                        </label>

                        <small *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched"
                            class="error-small">Geen geldig
                            e-mailadres
                        </small>
                    </div>

                    <input type="email" id="email" name="email" placeholder="voorbeeld@email.com" required
                        formControlName="email">

                </div>

                <p>Email Status: {{ registerForm.controls.email.status }}</p>

                <div class="input-wrapper">
                    <label
                        class="{{ registerForm.controls.password.invalid && registerForm.controls.password.touched  ? 'error-label' : null }} ww-input"
                        for="wachtwoord">Wachtwoord</label>
                    <div
                        class="{{ registerForm.controls.password.invalid && registerForm.controls.password.touched  ? 'error-border' : null }} pw-wrapper">
                        <input class="ww-input" #pwCharacterCount (keyup)="validatePW($event)" type={{type}}
                            id="password" name="ww" placeholder="Geef wachtwoord in" required
                            formControlName="password">

                        <img src={{eyeImg}} id="eye" title="toon paswoord" (click)="togglePW()">
                    </div>

                    <div class="pw-validation">
                        <p>Nog {{ 8 - pwCharacterCount.value.length <= 0 ? 0 : 8 - pwCharacterCount.value.length }}
                            tekens resterend</p>
                        <ul>
                            <div class="validation-wrapper">
                                <li><img src="{{ validateCap }}">Hoofdletter</li>
                            </div>
                            <div class="validation-wrapper">
                                <li><img src="{{ validateLow }}">Kleine letter</li>
                            </div>
                            <div class="validation-wrapper">
                                <li><img src="{{ validateNumber }}">Cijfer</li>
                            </div>
                        </ul>
                    </div>
                </div>

                <p>Form Status: {{ registerForm.status }}</p>

                <div class="input-wrapper">
                    <div class="gender-flex">
                        <div class="gender-wrapper">
                            <label>Ik ben</label>
                            <div>
                                <div class="radio-item">
                                    <input type="radio" name="geslacht" value="male" id="user-male"
                                        formControlName="geslacht">
                                    <label for="user-male">
                                        <img src="/assets/male.svg" alt="Mannelijk geslacht icoon">
                                    </label>
                                </div>

                                <div class="radio-item radio-item-two">
                                    <input type="radio" name="geslacht" value="female" id="user-female"
                                        formControlName="geslacht">
                                    <label for="user-female">
                                        <img src="/assets/female.svg" alt="Vrouwelijk geslacht icoon">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="gender-wrapper">
                            <label>Ik zoek</label>
                            <div>
                                <div class="radio-item">
                                    <input type="radio" name="opzoeknaar" value="date-male" id="date-male"
                                        formControlName="opzoeknaar">
                                    <label for="date-male">
                                        <img src="/assets/male.svg" alt="Mannelijk geslacht icoon">
                                    </label>
                                </div>

                                <div class="radio-item radio-item-two">
                                    <input type="radio" 
                                            name="opzoeknaar" 
                                            value="date-female" 
                                             id="date-female"
                                             formControlName="opzoeknaar">
                                    <label for="date-female">
                                        <img src="/assets/female.svg" alt="Vrouwelijk geslacht icoon">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-wrapper">
                    <div class="label-wrapper">
                        <label
                            class="{{ registerForm.controls.geboortedatum.invalid && registerForm.controls.geboortedatum.touched  ? 'error-label' : null }} ww-input"
                            for="geboortedatum">Geboortedatum
                        </label>
                                                <small
                            *ngIf="registerForm.controls.geboortedatum.invalid && registerForm.controls.geboortedatum.touched"
                            class="error-small">Geen geldige geboortedatum
                        </small>
                    </div>


                    <input type="text" id="geboortedatum" name="geboortedatum" placeholder="MM/DD/JJ" required
                        formControlName="geboortedatum">

                </div>

                <button type="submit" class="form-submit-btn">Begin met daten</button>

                <div class="consent-text">
                    <small class="consent-text">Door te klikken ga je akkoord met onze <a
                            href="">Gebruikersovereenkomst</a></small>
                </div>
            </form>

        </div>

    </section>
</div>